.recommend {
  .contentTop {
    height: 270px;
    .boxs {
      position: relative;
      display: flex;
      .downloadBg {
        flex: 1;
        background: url('~@/assets/img/download.png');
      }
    }
  }
  .cortorl-btns {
    .btn {
      position: absolute;
      z-index: 200;
      width: 37px;
      height: 63px;
      background-image: url('~@/assets/img/banner_sprite.png');
      background-color: transparent;
      cursor: pointer;
      top: 100px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:nth-child(1) {
        left: -75px;
        background-position: 0 -360px;
      }
      &:nth-child(2) {
        right: -75px;
        background-position: 0 -508px;
      }
    }
  }
}
