.ranking {
  display: flex;
  // border-left: 1px solid rgb(211, 211, 211);
  // border-right: 1px solid rgb(211, 211, 211);
  box-sizing: border-box;
  height: 100%;
  min-height: 600px;
  @media (max-width: 540px) {
    // overflow: hidden;
  }
  .rank-left {
    padding-top: 20px;
    width: 230px;
    border-right: 1px solid rgb(211, 211, 211);
    box-sizing: border-box;
    @media (max-width: 540px) {
      width: 80px;
    }

    background: rgb(249, 249, 249);
    .header-info {
      .title {
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        box-sizing: border-box;
        margin-top: 10px;
        @media (max-width: 540px) {
          text-align: center;
          padding-left: 0;
          display: flex;
          justify-content: center;
        }
      }
      @media (max-width: 540px) {
        .ant-list-item-meta-content {
          display: none;
        }
      }
    }
    .topItem {
      cursor: pointer;
      padding-left: 16px;
      padding-right: 16px;
      @media (max-width: 540px) {
        flex-direction: column;
      }
      &:hover {
        background-color: rgb(244, 242, 242);
      }

      .ant-list-item-meta-title {
        font-size: 12px;
      }
      .ant-list-item-meta-description {
        font-size: 13px;
      }
    }
  }
  .rank-info {
    flex: 1;
    padding: 40px;
  }
}
