.artist {
  display: flex;
  .artist-left {
    width: 180px;
    box-sizing: border-box;
    border-right: 1px solid #d7d7d7;
    height: 100%;
    background: #f9f9f9;
    min-height: 500px;
    padding: 50px 10px 10px;
  }
  .artist-right {
    flex: 1;
    box-sizing: border-box;
    padding: 40px;
  }
}
