.playlist {
  background: #fff;
  box-sizing: border-box;
  min-height: 500px;
  // padding: 0 30px;
  display: flex;
  .left ,.right{
    padding: 20px 0;
  }
  .left {
    width: 640px;
    // padding-right: 30px;
    // border-right: 1px solid #eaeaea;
    box-sizing: border-box;
  }
  .right {
    flex: 1;
  }
}
